#joke-root-div{
    max-width: 400px;
    /* max-height: 200px; */
    border-style: solid;
    box-shadow: 5px 5px 5px #c4c4c4;
    border-radius: 10px;
    margin: 10px;
}

.joke-text{
    margin: 10px;
    font-size: larger;
    line-break: normal
    
}

.joke-buttons{
    border-color: black;
    border-radius: 10px;
    margin: 10px;
}
.joke-punchline{
    color: #c20d00;
    font-style: italic;
    font-size: larger;
    margin-left: 10px;
}